---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
---

<Layout
	title="Agencia Ideas Pro | Marketing Digital"
	description="Agencia de Marketing Digital en Chile: Impulsando tu Éxito Online. Somos IdeasPro, tu aliado estratégico para el crecimiento en línea. Diseño web, Audiovisual, Redes Sociales, Diseño de Marca y más. ¡Contáctanos hoy!"
>
	<Hero />
	<main></main>
</Layout>
