<div class="social-links">
    <a href="https://www.facebook.com/ideasproagencia" target="_blank">
        <div id="facebook" class="social-btn flex-center">
            <svg
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M20 10c0-5.523-4.477-10-10-10S0 4.477 0 10c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V10h2.54V7.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V10h2.773l-.443 2.89h-2.33v6.988C16.343 19.128 20 14.991 20 10z"
                    fill="#1877F2"></path><path
                    d="M13.893 12.89l.443-2.89h-2.774V8.124c0-.79.388-1.562 1.63-1.562h1.261v-2.46s-1.144-.196-2.238-.196c-2.285 0-3.777 1.385-3.777 3.89V10h-2.54v2.89h2.54v6.988a10.073 10.073 0 003.124 0v-6.987h2.33z"
                    fill="#fff"></path></svg
            >
            <span>Facebook</span>
        </div>
    </a>

    <a href="https://www.instagram.com/agenciaideaspro" target="_blank">
        <div id="instagram" class="social-btn flex-center">
            <svg
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                fill="none"
                xmlns="https://vecta.io/nano"
                ><use xlink:href="#C" fill="url(#A)"></use><use
                    xlink:href="#C"
                    fill="url(#B)"></use><path
                    d="M20 5.454l-5.997.088c-1.548.071-2.605.316-3.53.676a7.12 7.12 0 0 0-2.577 1.677 7.14 7.14 0 0 0-1.679 2.576c-.361.925-.606 1.983-.676 3.53L5.454 20l.088 5.996c.071 1.549.316 2.605.676 3.53.372.957.869 1.768 1.678 2.577a7.12 7.12 0 0 0 2.576 1.679c.925.36 1.983.605 3.531.676l5.997.088 5.996-.088c1.548-.071 2.607-.316 3.532-.676.956-.371 1.767-.87 2.575-1.679a7.14 7.14 0 0 0 1.679-2.576c.358-.925.603-1.982.676-3.53L34.544 20l-.088-5.998c-.073-1.548-.318-2.605-.676-3.53a7.14 7.14 0 0 0-1.679-2.577 7.11 7.11 0 0 0-2.576-1.677c-.927-.36-1.985-.605-3.533-.676l-5.997-.088H20zm-1.305 2.621H20l5.877.084c1.418.065 2.188.302 2.7.501.679.264 1.163.579 1.672 1.088s.824.994 1.088 1.673c.199.512.436 1.282.501 2.7l.085 5.876-.085 5.876c-.065 1.418-.302 2.188-.501 2.7-.264.679-.579 1.162-1.088 1.671s-.992.824-1.672 1.088c-.512.2-1.282.436-2.7.501L20 31.917c-3.884 0-4.344-.015-5.877-.085-1.418-.065-2.188-.302-2.701-.502-.679-.264-1.164-.579-1.673-1.088s-.824-.993-1.088-1.672c-.199-.512-.436-1.282-.501-2.7l-.084-5.878.084-5.876c.065-1.418.302-2.188.501-2.701.264-.679.579-1.164 1.088-1.673a4.51 4.51 0 0 1 1.673-1.088c.513-.2 1.283-.436 2.701-.502l4.573-.082v.004zm9.069 2.415c-.964 0-1.745.781-1.745 1.745s.782 1.745 1.745 1.745 1.745-.782 1.745-1.745-.782-1.745-1.745-1.745v.001zM20 12.53A7.47 7.47 0 0 0 12.531 20 7.47 7.47 0 0 0 20 27.468 7.47 7.47 0 0 0 27.469 20 7.47 7.47 0 0 0 20 12.53h0zm0 2.621A4.85 4.85 0 0 1 24.849 20 4.85 4.85 0 0 1 20 24.848 4.85 4.85 0 0 1 15.152 20 4.85 4.85 0 0 1 20 15.151h0z"
                    fill="#fff"></path><defs
                    ><radialGradient
                        id="A"
                        cx="0"
                        cy="0"
                        r="1"
                        gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(10.7689 42.7275) rotate(-90) scale(39.039 36.3181)"
                        ><stop stop-color="#fd5"></stop><stop
                            offset=".1"
                            stop-color="#fd5"></stop><stop
                            offset=".5"
                            stop-color="#ff543e"></stop><stop
                            offset="1"
                            stop-color="#c837ab"></stop></radialGradient
                    ><radialGradient
                        id="B"
                        cx="0"
                        cy="0"
                        r="1"
                        gradientUnits="userSpaceOnUse"
                        gradientTransform="matrix(3.425987453965266,17.111196060044215,-70.54872751991398,14.125199344820954,-6.29651,3.14061)"
                        ><stop stop-color="#3771c8"></stop><stop
                            offset=".128"
                            stop-color="#3771c8"></stop><stop
                            offset="1"
                            stop-color="#60f"
                            stop-opacity="0"></stop></radialGradient
                    ><path
                        id="C"
                        d="M20.01.303L8.912.35c-1.688.14-2.738.406-3.882.976-.882.438-1.577.945-2.264 1.657C1.516 4.281.759 5.877.485 7.774c-.133.921-.172 1.109-.18 5.815v6.402l.048 11.088c.136 1.643.394 2.676.939 3.806a8.3 8.3 0 0 0 5.379 4.394c.812.209 1.709.324 2.861.379.488.021 5.46.036 10.436.036l10.427-.03c1.333-.063 2.107-.167 2.964-.388a8.25 8.25 0 0 0 5.379-4.403c.535-1.103.806-2.176.929-3.732.027-.339.038-5.751.038-11.155L39.665 8.84c-.124-1.582-.395-2.645-.948-3.77-.453-.92-.956-1.608-1.686-2.31C35.727 1.515 34.134.758 32.234.484c-.92-.133-1.104-.172-5.812-.181H20.01z"
                    ></path></defs
                ></svg
            >
            <span>Instagram</span>
        </div>
    </a>

    <a href="https://www.tiktok.com/@agenciaideaspro" target="_blank">
        <div id="tiktok" class="social-btn flex-center">
            <svg
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><path fill="#fff" d="M0 0h40v40H0z"></path><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24.591 5.999c-.001.374.048.776.109 1.143h-3.546v17.656c0 .814-.084 1.538-.25 2.174-1.445 3.183-5.533 2.767-6.663.583 1.682 1.053 4.448.773 5.583-1.727.165-.634.249-1.36.249-2.174V6h4.518zm2.413 5.34c.914.73 2.174 1.268 3.912 1.37v1.015c-1.923-.355-3.142-1.31-3.912-2.386zm-16.225 19.39c-5.786-5.02-2.044-16.198 6.851-14.792v1.035c-7.512-.349-10.819 8.612-6.851 13.758z"
                    fill="#69CDCD"></path><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M25.673 7.142v.023c.001.409.12 6.32 6.324 6.689 0 5.498.003 0 .003 4.567-.466.027-4.083-.234-6.334-2.242l-.007 8.891c.056 4.026-2.186 7.974-6.381 8.77-1.176.223-2.234.248-4.011-.14C5.03 30.638 8.432 15.456 18.71 17.08c0 4.902.003 0 .003 4.902-4.246-.625-5.666 2.908-4.538 5.437 1.027 2.302 5.254 2.801 6.729-.447.167-.636.25-1.36.25-2.174V7.142h4.519"
                    fill="#040606"></path><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M25.673 7.142v.023c0 .24.043 2.375 1.332 4.173-1.553-1.242-2.107-3.037-2.304-4.196h.972zm5.244 6.582a8.82 8.82 0 0 0 1.08.13c0 5.498.003 0 .003 4.567-.466.027-4.083-.234-6.334-2.242l-.007 8.891c.056 4.026-2.185 7.974-6.38 8.77-1.176.223-2.235.248-4.012-.14-2-.599-3.477-1.661-4.487-2.97.9.781 2.03 1.414 3.408 1.827 1.775.387 2.834.362 4.01.14 4.195-.796 6.436-4.744 6.382-8.769l.005-8.892c2.251 2.007 5.868 2.27 6.336 2.24 0-4.24-.005.199-.005-3.552zM17.63 16.972c.35.016.71.05 1.08.109 0 4.901.002-.002.002 4.901-4.246-.625-5.666 2.908-4.538 5.437.021.046.044.091.067.136-.505-.316-.911-.75-1.147-1.28-1.127-2.53.292-6.061 4.537-5.436 0-4.493-.001-.755-.001-3.866"
                    fill="#ED1959"></path></svg
            >
            <span>TikTok</span>
        </div>
    </a>
</div>

<style>
    .social-links,
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-btn {
        cursor: pointer;
        height: 50px;
        width: 50px;
        font-family: "Titillium Web", sans-serif;
        color: #333;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        background: white;
        margin: 5px;
        transition: 0.3s;
        justify-content: center;
    }

    .social-btn svg {
        height: 24px;
        width: 24px;
    }

    .social-btn span {
        width: 0px;
        overflow: hidden;
        transition: 0.3s;
        text-align: center;
        margin-left: 5px;
    }

    .social-btn:hover {
        width: 150px;
        border-radius: 5px;
    }

    .social-btn:hover span {
        padding: 2px;
        width: 80px;
    }
</style>
