<div class="w-full relative">
    <img class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto" alt="Agencia IdeasPro | Marketing Digital" src="/logo.png">
    <video class="w-full h-screen object-cover object-top animate-fade animete animate-duration-1000 animate-ease-in-out" src="/video.webm" autoplay loop muted></video>
    <div class="absolute inset-0 bg-purple-500 opacity-50"></div>
</div>
