<div class="w-full relative">
    <video class="w-full h-screen object-cover object-top animate-fade animete animate-duration-1000 animate-ease-in-out" src="/video.mp4" autoplay loop muted></video>
    <div class="absolute inset-0 bg-purple-500 opacity-50"></div>
</div>
