---
import HeroLogo from "@/components/HeroLogo.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import Button from "@/components/Button.astro";
import WhatsAppButton from "@/components/WhatsAppButton.astro";
---

<section
    style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; height: 100vh; "
>
    <HeroLogo />
    <div style="display: flex; justify-content: center; align-items: center;">
        <SocialLinks />
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <Button />
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <WhatsAppButton />
    </div>
</section>
